@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    color: #273049;
}

.main-tasks-div {
    margin: 0 auto;
    background-color: #E3E9F0;
    width: 400px;
    height: 600px;
    box-shadow: 0px 0px 5px 0px #E3E9F0;
}

.list-tasks {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.task-item {
    text-align: left;
    width: 360px;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    list-style: none;
    box-shadow: 0px 2px 4px 1px #9098AD;
}

.task-done {
    background-color: #E3E9F0;
    color: #9098AD;
    text-decoration: line-through;
}

.add-task-button {
    background-color: #273049;
    color: white;
    width: 100%;
    border: none;
    border-radius: 0 0 7px 7px;
    letter-spacing: 2px;
    padding: 5px;
    transition: background-color 500ms ease;
}

.add-task-button:hover {
    background-color: #7A6262;
}